* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --background-color: #f4f4f4;
}
.main-layout {
  width: 100%;
}
.sidebar {
  /* عدلت position ل fixed عشان يظهر فوق container*/
  position: fixed;
  left: 0;
    top: 0;
    z-index: 999;
  height: 100vh;
  display: flex;
  flex-direction: column;
  width: 310px;
  background-color: #f7f7f7;
  /* overflow-y: auto; خليك على واحدة بس */
  transition: width 0.3s ease;
  /* border-right: 5px solid #ffb800 ; */
}
/* close */
.sidebar.sidebar-semi-close {
  width: 80px;
  text-align: center;
  /* background-color: #eee; */
}
.sidebar.sidebar-close {
  width: 0;
  overflow: hidden;
}

.container-content-page {
  flex: 1;
  padding: 10px 30px;
  margin-top: 50px;
  transition: margin-left 0.3s ease;
  
}
.admin-logo {
  height: 222px;
}
.admin-logo.admin-logo-close {
  height: 90px;
  /* background-color: #f4f4f4; */
}

.logo {
  background-color: #ffb800;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 61px;
}
.logo.close-logo {
  display: none;
}

.logo img {
  width: 35px;
  height: 35px;
}

.img-logo {
  height: 161px;
  background-color: #e2ddb0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* gap: 5px; */
  background-color: #e2ddb0;
}

.img-logo.img-logo-close {
  align-items: flex-start;
  justify-content: flex-start;
  text-align: center;
  background-color: #f7f7f7;
  margin: auto;
}
.img-admin {
  width: 170px;
  height: 100px;
}
.img-admin.img-admin-close {
  width: 100%;
  padding-top: 10px;
  height: 80px !important;

  /* margin: auto; */
  padding-top: 5px;
  background-color: #dcdccf;
}
.admin-text {
  display: block;
  font-family: Poppins;
  letter-spacing: 2px;
  font-size: 25px;
  font-weight: 700;
}
.admin-text.admin-text-close {
  display: none;
}

.dashboard-navbar {
 display: flex;
 flex-direction: column;
 gap: 20px;
}

.search-box {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  /*اعاده ترتيب ظهور search في وضع responsive*/
  order: 2;
}

.search-input {
  height: 34px;
  border-radius: 10px;
  padding-left: 35px;
  width: 150px;
  background-color: #f4f4f4;
  width: 100%;
}

.search-box img {
  position: absolute;
  left: 15px;
}

.nav-actions {
  display: flex;
  justify-content: space-between;
}

.notification-icon {
  border-radius: 25%;
  width: 37px;
  height: 37px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4;
}

.user-name {
  background-color: var(--background-color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: lato;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 5px;
  margin-right: 30px;
  border-radius: 10px;
}

.dashboard-header {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 100%;
}

.user-profile {
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.page-home {
  background-color: var(--background-color);
  display: flex;
  align-items: center;
  padding-left: 50px;
  width: 100%;
  height: 40px;
}

.page-title {
  font-family: lato;
  font-weight: 700;
  font-size: 18px;
  width: 49px;
  height: 22px;
}

.breadcrumb-wrapper {
  display: flex;
  align-items: center;
  padding-left: 5px;
}

.breadcrumb-wrapper span {
  font-family: lato;
  font-size: 18px;
  height: 22px;
} 

.logo h2 {
  font-family: Poppins;
  letter-spacing: 2px;
  color: #ffffff;
  font-size: 25px;
  font-weight: 700;
}

.img-logo h3 {
  font-family: Poppins;
  letter-spacing: 2px;
  font-size: 25px;
  font-weight: 700;
}

ul {
  list-style: none;
  padding-top: 30px;
  padding-bottom: 20px;
  width: 100%;
}

a {
  text-decoration: none;
}

/* add new style  */

.sidebar-link {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  text-align: center;
  width: 100% !important;
}

ul li {
  width: 100%;
}
ul li a {
  display: block;
  font-family: lato;
  font-size: 25px;
  font-weight: 400;
  width: 100%;
  color: #000000;
  /* padding: 20px 30px; */
  padding: 5px 30px;
  white-space: nowrap;
}

.active {
  background-color: #ffb800;
  border-radius: 20px 0 0 20px;
  -webkit-border-radius: 20px 0 0 20px;
  -moz-border-radius: 20px 0 0 20px;
  -ms-border-radius: 20px 0 0 20px;
  -o-border-radius: 20px 0 0 20px;
}

.nav-link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.iconSidebar {
  width: 40px;
  height: 40px;
  padding-right: 10px;
  object-fit: contain;
  /* color: #ffb800; */
}
.iconSidebar.iconSidebar-close {
  width: 40px;
  height: 40px;
  padding-right: 2px;
}

.container-logo {
  display: flex;
  background-color: #ffb800;
  justify-content: space-around;
  align-items: center;
}
.icon-show-sidebar {
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.icon-show-sidebar.icon-show-sidebar-close {
  position: fixed;
  padding: 5px;
  top: 2px;
  left: 2px;
  width: 60px;
  height: 50px;
  object-fit: contain;
  z-index: 999;
  border: #ffb800;
}

.main-layout:has(.sidebar-close) {
    grid-template-columns: 0 1fr;
    gap: 0;
}

.main-layout:has(.sidebar-semi-close) {
    grid-template-columns: 80px 1fr;
    gap: 20px;
}
