* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --background-color: #f4f4f4;
}

html,
body {
  height: 100%;
}

.main-layout {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: stretch; /* 👈 ده الحل */
  height: 100dvh !important;
}
.sidebar {
  height: 100dvh !important;
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 310px;
  left: 0;
  top: 0;
  z-index: 1000;
  transition: width 0.3s ease;
}

.container-content-page {
  flex: 1;
  padding: 50px;
  /* margin-left: 310px; */
}
#contentPageMarginLift {
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
}

.dashboard-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-box {
  position: relative;
  display: flex;
  align-items: center;
}

.search-input {
  height: 34px;
  border-radius: 10px;
  padding-left: 35px;
  background-color: #f4f4f4;
}

.search-box img {
  position: absolute;
  left: 15px;
}

.nav-actions {
  display: flex;
  align-items: center;
  gap: 50px;
}

.notification-icon {
  border-radius: 25%;
  width: 37px;
  height: 37px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4;
}
.user-profile {
  display: flex;
  position: relative;
  align-items: center;
  background-color: #f4f4f4;
}
.user-img {
  position: absolute;
  left: -5px;
  width: 50px;
  height: 48px;
}

.user-name {
  background-color: var(--background-color);
  min-width: 190px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 10px;
  font-family: lato;
  font-weight: 700;
  letter-spacing: 1px;
  padding-right: 10px;
  border-bottom-left-radius: 25px;
}

.dashboard-header {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-top: 20px;
}

.page-home {
  background-color: var(--background-color);
  display: flex;
  align-items: center;
  padding-left: 50px;
  width: 100%;
  height: 40px;
}

.page-title {
  font-family: lato;
  font-weight: 700;
  font-size: 18px;
  width: 49px;
  height: 22px;
}

.breadcrumb-wrapper {
  display: flex;
  align-items: center;
  padding-left: 5px;
}

.breadcrumb-wrapper span {
  font-family: lato;
  font-size: 18px;
  height: 22px;
}

/* media query */

@media (max-width: 500px) {
  html,
  body {
    height: 100% !important;
  }

  .main-layout {
    height: 100dvh !important;
  }
  .sidebar {
    height: 100dvh !important;
  }
}

@media (max-width: 700px) {
  html,
  body {
    height: 100% !important;
  }

  .main-layout {
    height: 100dvh !important;
  }
  .sidebar {
    height: 100dvh !important;
  }
} 
